<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Applicant Page</title>
</head>
<body>
<form>
<table>
<tr>
 <td th:text="${applicant.applicantId}" />
 <td th:text="${applicant.username}" />
 <td th:text="${applicant.name}" />
 <td th:text="${applicant.address}" />
 <td th:text="${applicant.educationLevel}" />
 <td><a th:href="@{/editApp/{appId}(appId=${applicant.applicantId})}">Edit Your Profile</a></td>
</tr>
</table>

<input type="hidden" name="appId" value="applicant.applicantId">
</form>

<form th:action="@{/showJobList}" th:object="${applicant}" method="POST">
Click Here to Apply for New Job:
<input type="hidden" name="username" th:field="*{username}">
<input type="submit" value="Apply">
</form>

<form>
<table>
<tr th:each="currentJob: ${applicant.jobsAppliedFor}" >
	<td th:hidden="${applicant.applicantId}" /> 
	<td th:text="${currentJob.title}" />
	<td th:text="${currentJob.employer}" />
 	<td th:text="${currentJob.jobdesc}" />
 	<td><a th:href="@{/deleteJobFromApp/{id}(id=${currentJob.jobId})}">Delete this job application.</a></td>
</tr>
</table>
</form>

</body>
</html>