<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Applicant Page</title>
</head>
<body>
<form>
<table>
<tr th:each="currentApplicant: ${applicant}" >
<td th:text="${currentApplicant.applicantId}" />
 <td th:text="${currentApplicant.username}" />
 <td th:text="${currentApplicant.name}" />
 <td th:text="${currentApplicant.address}" />
 <td th:text="${currentApplicant.educationLevel}" />
 <td><a th:href="@{/edit/{id}(id=${currentApplicant.applicantId})}">Edit</a></td>
 <td><a th:href="@{/delete/{id}(id=${currentApplicant.applicantId})}">Delete</a></td>
</tr>
</table>
</form>


</body>
</html>