<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Create new Job</title>
</head>
<body>
<h3>Create new Job</h3>

<form th:object="${newJob}" th:action="@{/addNewJob}" method="POST">
<input type="hidden" name="jobId" th:field="*{jobId}">
Enter Job Title:
<input type="text" name="title" th:field="*{title}" )> <br><br>

Company Name: 
<input type="text" th:field="*{employer.company}" readonly="readonly"> <br><br>
<input type="hidden" name="company" th:field="*{employer.employerId}">

Enter the Job Description: <br>
<textarea name="jobdesc" th:field="*{jobdesc}" rows="20" cols="80"></textarea>

<br><br>

<input type="submit" value="Create Job">

</form>

<br><br>
<a th:href="@{/returnToEmp}">Go Back to Employer Home Page</a>

</body>
</html>