<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Employer Page</title>
</head>
<body>

<h1>Welcome <span th:text="${employer.company}"></span></h1> 



<a th:href="@{/addNewJob/{employerId}(employerId=${employer.company})}">Add New Job</a>

<form>
<h4>Open Positions:</h4>
<table style="width:85%">
 <th:block th:each="currentJob: ${employer.jobsAvaliable}">
	<tr>
		<th width="80">Job Title:
		<td th:text="${currentJob.title}"/>
		<td> <a th:href="@{showJobInfo/{jobId}(jobId=${currentJob.jobId})}">View Job</a>
	</tr>
	<tr>
		
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	<tr>
		<th width="200">Job Description:
		<td colspan=4 th:text="${currentJob.jobdesc}" />
	</tr>
	<tr>
		<td bgcolor="#D3D3D3" colspan="4">&nbsp;</td>
	</tr>
</th:block>
</table>
</form>
</body>
</html>