<html xmlns:th=http://www.thymeleaf.org>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Job List</title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<h1>Job List</h1>

<h1>Welcome <span th:text="${pageData.applicant.name}" ></span></h1>


<form th:object="${pageData}" th:action="@{applyForJob}" method="POST">
<table style="width:85%">
<th:block th:each="currentJob: ${pageData.jobs}">
	<tr height="40">
		<td width="50"> 
			<!--<a th:href="@{/applyForJob/applicant/{appId}/job/{jobId}(appId = ${pageData.applicant.applicantId}, jobId = ${currentJob.jobId})}">Apply</a>-->
			<!-- <input type="radio" th:value="${currentJob.jobId}" th:field="*{appliedJob}"/>-->
			<a th:href="@{/applyForJob/{jobId}(jobId=${currentJob.jobId})}">Apply</a>
		</td>
		<th width="80">Job Title:
		<td th:text="${currentJob.title}" />
		<th width="80">Company:
		<td th:text="${currentJob.employer.company}" />
	</tr>
	<tr>
		<th height="30" colspan="5">Job Description:
	</tr>
	<tr>
		<td colspan=5 height="120" th:text="${currentJob.jobdesc}" />
	</tr>
	<tr>
		<td bgcolor="#D3D3D3" colspan="5">&nbsp;</td>
	</tr>
</th:block>
</table>
<input type="hidden" th:value="${pageData.applicant.applicantId}"><!-- th:field="*{pageData.applicantId}">-->
<input type="submit" value="Apply for Job">
</form>

<br><br>
<a th:href="@{/returnToApp}">Go Back to Applicant Home Page</a>
<br><br>
<a th:href="@{/index}">Log Out</a>

</body>
</html>